body{
  margin: 0;
  font-family: "Shuei Mincho M","EB Garamond","游明朝","Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: orange;
  font-size: 1.1em;/*文字サイズ1.1倍*/
  font-weight: bold;
}

header{
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: rgba(255,255,255,0.9)
}

.logo{
  padding: 20px 20px;
  float: left;
  width: 150px
}

.container{
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}

.header-category{
  float: left;
  padding: 33px 20px;
}

.top-wrapper{
 padding: 90px 0 0 0px;
 color: #ffffff;
 position: relative;
 z-index: 1;
 margin: 0;
 width: 100%;
 height: 550px;
 overflow: hidden;

}

.top-movie video{
  z-index: -100;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  text-align: center;
  opacity: 0.9;
}


.top-wrapper h1{
  opacity: 0.8;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper h2{
  opacity: 0.8;
  font-size: 30px;
  letter-spacing: 3px;
}

.top-wrapper p{
  opacity: 0.8;
  font-size: 15px;
}

.more-detail{
  padding: 8px 24px;
  color: white;
  opacity: 0.8;
  margin: 10px 0;
}
.sns{
  display: inline-block;
}
.sns:hover{
  opacity: 1;
}
.information{
  display: inline-block;
  margin-top: 30px;
  border-bottom: 2px solid;
}
.clear{
  clear: both;
}
.facebook{
  background-color: #3b5998;
  border-radius: 10px;
}
.twitter{
  background-color: #55acee;
  border-radius: 10px;
}
.fab{
  margin-right: 5px;
  vertical-align: baseline;
}

.message-wrapper h1{
  font-size: 20px;
  margin-bottom: 50px;

}

.title{
  width: 1000px;
  font-size: 50px;
  border-bottom: solid 2px black;
}

.message{
  padding:150px 0 0 0;
  z-index: 5;
}

.vision-message{
  font-family: 'Hiragino Mincho ProN',sans-serif;
}

.first-message{
  background:linear-gradient(transparent 70%, #FFFF00 0%);
}

.second-message{
  display: table;
  margin: 0 auto;
  background:linear-gradient(transparent 85%, #FFFF00 0%);
}

h3{
  line-height: 7rem;
}

.works-wrapper{
  height: 570px;
  padding-bottom: 80px;
  background-image: url(file:///Users/junsasaki/Library/Mobile%20Documents/com~apple~CloudDocs/mocchi/%E3%83%84%E3%83%8A%E3%82%AF%E3%82%99%E3%83%83%E3%83%86/%E4%BD%BF%E7%94%A8%E7%94%BB%E5%83%8F/hp%20works%20picture.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: black;
}

.works-wrapper h1{
  font-size: 20px;
  margin-bottom: 50px;

}

.background-cover{
  height: 117%;
  background: rgba(255, 255, 255, 0.5);
}


.works{
  display: inline-block;
  width: 25%;
  padding: 0 0.5%;
  text-align: center;
}

.works-picture img{
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.project{
  background-color: #006400;
  padding: 5px 5px;
  width: 80%;
  border-radius: 10px;
  display: inline-block;
  color: white
}

.text-box{
  text-align: center;
}

.works-tag{
  font-size: 15px;
  font-weight: bold;
  border-bottom: solid 1px black;
  width:80%;
  margin: 0 auto;
}

.works-tag img{
  width: 7%;
  padding-right: 5px;
}

.works-detail{
  width:80%;
  margin: 0 auto;
  font-size: 15px;
}

.aboutus-wrapper h1{
  font-size: 20px;
  margin-bottom: 50px;
}

.member-jun{
  padding: 100px 150px 30px 150px;
  text-align: left;
  height: 220px;
}

.member-riho{
  padding: 0px 150px 30px 150px;
  text-align: left;
  height: 220px;
}
.member-yuki{
  padding: 0px 150px 30px 150px;
  text-align: left;
  height: 220px;
}

.member-jun img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float:left;
  padding-right: 70px;
}
.member-riho img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float:left;
  padding-right: 70px;
}
.member-yuki img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float:left;
  padding-right: 70px;
}

.member-profile{
  overflow: hidden;
  padding-right: 30px;
}

.member-profile h4 span{
  font-size: 30px;
}

#page_top{
  width: 65px;
  height: 65px;
  position: fixed;
  right: 20px;
  bottom: 0;
  background: #3f98ef;
  opacity: 0.6;
  border-radius: 50%;
}
#page_top a{
  position: relative;
  display: block;
  width: 65px;
  height: 65px;
  text-decoration: none;
}
#page_top a::before{
  font-family: FontAwesome;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

.contact-wrapper{
  height: 480px;
  padding-bottom: 80px;
  background-image: url(file:///Users/junsasaki/Library/Mobile%20Documents/com~apple~CloudDocs/mocchi/%E3%83%84%E3%83%8A%E3%82%AF%E3%82%99%E3%83%83%E3%83%86/%E4%BD%BF%E7%94%A8%E7%94%BB%E5%83%8F/c6b23068fbb350a91709da085d8f219c0_4620693218506252852_190323_0087.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: black;
}


.contact-wrapper h1{
  font-size: 20px;
  margin-bottom: 50px;
}

.btn-messenger{
  box-shadow: 0 0 0 4px;
  font-size: 20px;
  padding: 10px 5px;
  display: block;
  width: 50%;
  margin: 0 auto;
}

.contact-message{
  font-weight: bold;
  font-size: 110%;
}

.logo2{
  padding: 20px 0 0 0;
  width: 150px
}

footer span{
  padding: 0 0 30px 0;
}
